<div class="add-course-panel">
  <h3>{{!!course.id ? 'Edit' : 'Add'}} course</h3>
  <p>
    <mat-form-field appearance="fill" class="title-field">
      <mat-label>Title</mat-label>
      <input type="text" required matInput [(ngModel)]="course.title">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="description-field">
      <mat-label>Description</mat-label>
      <textarea required matInput [(ngModel)]="course.description"></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="date-field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="course.createDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="duration-field">
      <mat-label>Duration</mat-label>
      <input type="number" required matInput [(ngModel)]="course.duration">
    </mat-form-field>
    {{course.duration | duration}}
  </p>
  <button mat-raised-button color="accent" class="save-button" [disabled]="!actionAllowed()" (click)="save()">Save</button>
  <button mat-raised-button color="basic" class="cancel-button" (click)="cancel()">Cancel</button>
</div>
