<cl-breadcrumbs [items]="breadcrumbs"></cl-breadcrumbs>

<cl-search-panel (searchRequest)="searchCourse($event)"></cl-search-panel>

<div class="buttons-panel">
  <button mat-raised-button color="primary" class="add-course-button" (click)="showAddingCoursePage()">
    <mat-icon>add</mat-icon> Add course
  </button>
</div>

<ng-container *ngIf="courses$ | async as courses">
  <cl-course-item
  *ngFor="let course of courses"
  [course]="course"
  (deleteRequest)="deleteCourse(course.id)"
  (editRequest)="showEditingCoursePage(course)">
</cl-course-item>

  <div class="loader-panel" *ngIf="courses.length > 0; else noCourses">
    <button mat-button (click)="loadMore(courses.length)">Load More</button>
  </div>
</ng-container>

<ng-template #noCourses>
  <div class="loader-panel">
    No data. Feel free to add new course.
  </div>
</ng-template>
