<mat-card class="course-item">
  <mat-card-header class="card-header">
    <mat-card-title>{{course.title}}</mat-card-title>
    <mat-card-subtitle>
      <mat-icon>access_time</mat-icon> {{course.duration}} <mat-icon>date_range</mat-icon> {{course.createDate}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><p>{{course.description}}</p></mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editItem()" class="edit-action"><mat-icon>edit</mat-icon> Edit</button>
    <button mat-raised-button color="primary" (click)="deleteItem()" class="delete-action"><mat-icon>delete</mat-icon> Delete</button>
  </mat-card-actions>
</mat-card>
