.header {
  color: #fff;
  background-color: #3f51b5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  .logo,
  .user-panel {
    display: flex;
    align-items: center;
  }

  .user-panel,
  .log-off-button {
    font-size: 12px;

    .mat-icon {
      transform: scale(0.6);
    }
  }

  .log-off-button {
    margin-left: 8px;
  }

  img {
    margin-right: 8px;
  }
}
